[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/DiligentGraphics/imgui
[submodule "ThirdParty/args"]
	path = ThirdParty/args
	url = https://github.com/DiligentGraphics/args
