name: Emscripten build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:         [windows-latest, ubuntu-24.04, macos-15]
        build_type: [Debug, Release]

        exclude:
          # Exclude MacOS-Release
          - os:         macos-15
            build_type: Release

        include:
          - os:        windows-latest
            host_name: Win10

          - os:        ubuntu-24.04
            host_name: Linux

          - os:        macos-15
            host_name: MacOS

    runs-on: ${{ matrix.os }}
    name:    ${{ matrix.host_name }} -> Emscripten, ${{ matrix.build_type }}

    steps:
    - name: Checkout
      uses: DiligentGraphics/github-action/checkout@v10

    - name: Set up build environment
      if:   success()
      uses: DiligentGraphics/github-action/setup-build-env@v10
      with:
        platform: Web

    - name: Configure CMake
      if:   success()
      uses: DiligentGraphics/github-action/configure-cmake@v10
      with:
        build-type: ${{ matrix.build_type }}
        cmake-args: "-DDILIGENT_BUILD_TOOLS_INCLUDE_TEST=ON"

    - name: Build
      if:   success()
      uses: DiligentGraphics/github-action/build@v10
